[Desktop Entry]
Encoding=UTF-8
Name=Link to .pdf file
Type=Link
URL=http://static.googleusercontent.com/external_content/untrusted_dlcp/www.google.com/en/us/intl/en/landing/chrome/cadie/glasses.pdf
Icon=text-html
